<li class="list-group-item">
  <strong><%= comment.commenter %></strong>
  <p><%= comment.body %></p>
  <%= link_to 'Delete', [comment.post, comment], :class => "btn btn-danger btn-xs",
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</li>
